#include <string.h>
#include <stdio.h>
#include <stdlib.h>

__attribute__((noinline, annotate("{annotation}")))
int obf_target(int unused_x, int unused_y) {{
    int r = 0;
    r |= strcmp("{a}", "{a}");
    r |= strcmp("{b}", "{b}");
    r |= strcmp("{c}", "{c}");
    return r;
}}

int main(int argc, char **argv) {{
    int r = obf_target(0, 0);
    if (r != 0) printf("FAIL strenc multi\n");
    return r;
}}
